@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --main-color: rgb(164, 90, 0);
}

body {
  max-width: 600px;
  width: 100%;
  margin: 32px auto;
  background-color: #dadada;
  font-family: "Mozilla Text", sans-serif;
  color: #1f2023;
}

main {
  padding-block: 1rem;
}

.favorite {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  cursor: pointer;
  color: #666;
  font-size: 24px;
}

.favorite:hover {
  color: var(--main-color);
}

.favorite.is-favorite {
  color: var(--main-color);
  font-variation-settings: "FILL" 1;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2023;
    color: whitesmoke;
  }
}
